.user-icon-profile-container {
  .black-circle {
    background-color: rgb(122, 122, 122);
  }

  background-color: rgb(102, 102, 102);

  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: white;

    font-weight: bold;
  }
}
