.input-textarea-container {
  position: fixed;
  display: flex;
  flex-direction: column;

  bottom: 0px;
  right: 0;
  left: 281px;
  height: 140px;
  background-color: rgb(255, 255, 255);
  justify-content: center;

  textarea {
    position: relative;

    bottom: 20px;
    padding: 12px 20px;
    box-sizing: border-box;

    height: 120px;
    width: 95%;
    min-width: 100px;

    border: 2px solid rgb(5, 5, 5);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .button-section {
    display: flex;
    position: relative;
    bottom: 20px;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    .smile {
      cursor: pointer;
    }
    .enabled {
      height: 25px;
      width: 60px;

      background-color: rgb(223, 223, 223);
      border: 1px solid rgb(168, 168, 168);
    }
    .enabled:hover {
      background-color: rgb(160, 160, 160);
      color: white;
    }
    .disabled {
      cursor: auto;
      height: 25px;
      width: 60px;

      background-color: rgb(248, 248, 248);
      border: 1px solid rgb(168, 168, 168);
    }

    .picker {
      position: absolute;
      bottom: 160px;
      width: 600px;
    }
  }
}
