.input-textarea-with-reply-container {
  display: flex;
  flex-direction: column;

  bottom: 0px;

  justify-content: center;
  margin: 0 20px 20px 20px;

  textarea {
    position: relative;

    padding: 12px 20px;
    box-sizing: border-box;

    height: 120px;
    width: 100%;
    min-width: 100px;

    border: 2px solid rgb(5, 5, 5);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .button-section {
    display: flex;
    position: relative;

    align-items: center;
    button {
      height: 25px;
    }

    .picker {
      position: absolute;
      bottom: 160px;
      width: 600px;
    }
  }
}
