.friend-tag-container {
  font-size: 15px;
  .showed-section {
    display: flex;
    padding: 7px;
    padding-left: 25px;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    .title {
      padding-left: 15px;
      span {
        font-weight: 500;
        margin-left: 3px;
      }
    }
  }

  div:hover {
    opacity: 0.8;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
  }
}
